@charset "utf-8";
/*! fileicon.css v0.1.1 | MIT License | github.com/picturepan2/fileicon.css */
/* fileicon.basic */
.file-icon {
  font-family: Arial, Tahoma, sans-serif;
  font-weight: 300;
  display: inline-block;
  width: 24px;
  height: 32px;
  background: #018fef;
  position: relative;
  border-radius: 2px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}
.file-icon::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom-left-radius: 2px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff #fff rgba(255,255,255,.35) rgba(255,255,255,.35);
}
.file-icon::after {
  display: block;
  /* Puts in the content of the data-type attribute*/
  content: attr(data-type);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  color: #fff;
  text-transform: lowercase;
  width: 100%;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
}
.file-icon-lg {
  width: 48px;
  height: 64px;
  border-radius: 3px;
}
.file-icon-lg::before {
  border-bottom-left-radius: 2px;
  border-width: 8px;
}
.file-icon-lg::after {
  font-size: 16px;
  padding: 4px 6px;
}
.file-icon[data-type=xml] {
  background: #e13d34;
}
.file-icon[data-type=html] {
  background: #5eb533;
}

/* End */
.download{
    cursor: url('data:image/png;base64,\
iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI\
WXMAAAsTAAALEwEAmpwYAAAAtElEQVQoz83QsUqCYRTG8Z8JDU7hR1RO4WCrg0tEN+Go99C9eEvi\
FUQQgjg6NIqDEvW1PEN86Kc29cDh//K+/A/nPRzOPabh3lzUyD08h2fLnxWeJR/N/5EvUeTcqLCd\
94Pp4xVDdFGGQ8zxVCffYYkdZpFn2OIjjWozxjrid7jG6NRdjLCKuKoTb/Cy536At7CaR7Sk+zse\
stEidYVmWPyqa0xQNiJvsMDXid+6RUdGLv9SPyx1L+ZGSvHxAAAAAElFTkSuQmCC'), auto;
}



table tr:nth-child(2n+2){
    background-color:#F4F4F4;
}

.basepane{
    max-width: 900px;
    margin: auto;
}


.comp-notes div::before{
    content: "*";
    color: #111;
}



h1{
    border-bottom-style: double;
}

h2{
    border-bottom-style: ridge;
}

input[type=checkbox] + span {
    opacity: .6;
}

input[type=checkbox]:checked + span {
    opacity: 1;
}

.words{
    padding-left: 40px;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}    
#help-pane{
    position: fixed;
    height:100%;
    top: 0%;
    display: none;
    background-color: lightblue;
    border-radius: 25px;
    padding: 10px;
}

#fade-pane{
    position: fixed;
    background-color: lightblue;
    top: 20%;
    left: 30%;
    font-size:xx-large;
    border-radius: 25px;
    padding: 40;
    opacity: 1;
    -webkit-transition: opacity 1500ms linear;
    transition: opacity 1500ms linear;
}
.modifiedbymodule .f-comp-title{
    text-decoration: line-through;
}

a:visited {
    color: cornflowerblue;
}

div.component{
    padding-top: 20px;
}

.f-comp-title{
    font-family: monospace;
    font-size: x-large;
}

.f-el-title{
    font-family: monospace;
    font-size: large;
    padding-left: 10px;
}

div{
    transition: sliding-vertically 5s ease-in-out;
}




/**
 * Displaying either a green check or red X before  components and requirements.
 */

.component.valid .f-comp-status::before,
.valid .f-el-title::before{
    content: "\2713";
    color: #0F0;
}

.component.invalid .f-comp-status::before,
.requirement.invalid .f-el-title::before{
    content: "\2715";
    color: #F00;
}


.component.valid.optional .f-comp-status::before,
.valid.optional .f-el-title::before{
    content: "\2713";
    color: #2626FF; 
}

.component.invalid.optional .f-comp-status::before,
.requirement.invalid.optional .f-el-title::before{
    content: "\2715";
    color: #2626FF; 
}

.component.modifiedbymodule .f-comp-status::before{
    content: "\26D4";
    color: purple;

}



.hidden {
    display: none;
}

.component.modifiedbymodule{
    pointer-events: none;
}

.comp-notes{
    pointer-event: all;
}

.disabled {
    opacity: .2;
    pointer-events: none;
}

.disabled .modcheckdiv, .disabled .f-comp-status{
    display: none;
}

.aactivity{
    display: none;
}

.warning{
    text-align:center;
    border-style: dashed;
    border-width: medium;
    border-color: red;
}

@media screen{
    .hide.component .f-el-title{
        display: none;
    } 
    
    .hide.component .invalid.f-el-title{
        display: none;
    } 
    
    .hide.component .words{
        display: none;
    } 

    
    .component .f-comp-title::after{
        display: inline-block;
        height: auto;
        content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8A\
AAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAQOFAAEDhQGl\
VDz+AAAAB3RJTUUH4gIXFDM7fhmr1wAAAfRJREFUKM+dkk9I02EYxz/P+25uurWR\
tTkzI4NGl4jQgkq71K1DhnTQIDolRAQFQYSHTtGhU4e6eujQofBSFLOg0C4RUSjh\
FnmqTTdKpj/mfv/eX4cUpmRYn9vz8v3w8D7PA/AWGADCbI4QcAb4AnAF8IBJEdX+\
N0tEda40C4AHADviW1LFvpOX6+FwtAacVzqkGiWtwxo4F21OuPu7+yvxRNoDEhpY\
cpzavkQyc7D76FCk+vN7j7VU6RdR4xAsikjGGP9FKrN3sPfEpajv2i2zhckR4JUG\
UCr0erFavLkn2ytd2WPxcFOsZb74+SIQA0YPHBqIdB8Z6tChJv1m/N4P33OGAUsD\
BIFxPNcOkq07jyeSbbo1tTu2q6vHEqU7D/ddSKcz2ZQJjBSmx925b9NjwEMAafha\
eyQa/3Dq7O0243sCIEoRGAOA59nm5dM7OHVruzH+AkDjYEp23RrLT+U8Ub+fV0UR\
oVyaMfVa9fqquF5GKX3ja2FCuc6yWbMipYNP755UgEdr8o2FMf5ivVYdKRfzRkRW\
RfJTOc+2rWdAcUN5hdGP7x8viGgAXLvGbGFCKxW6tj74J3nOqVvP89M5V6kQ86UZ\
f7lWvWWMt7Sp41VKb21uSfqnB++6kWi8BLTzL4ioq7H4tgC4z3/QAZSBxEaBXygN\
v+jeFnAPAAAAAElFTkSuQmCC');
        max-width: 15px;
    }
    
    .hide.component .f-comp-title::after{
   	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8A\
AAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAQOFAAEDhQGl\
VDz+AAAAB3RJTUUH4gIXFC4BR3keeQAAAfZJREFUKM+d0k1PE1EUBuB37h2nQ+30\
w5YObR0FhIppqBgWuDCaSBQjiQZNTIxLfoAkBHXh2vg7xID+ABPXBl3UdAMaN1CR\
j5ZijZ22DKW9d44LP1KMROvZnMU5z+KcvBzAAgADwCdV1RzXlYQ26tYhrYM6u/qX\
ATwCcKodrAOYv3z9IV28OuP6/NHPAGYZ45G/QQ5AAFjNbyzdTA2NewcGx7xeI5wu\
FZenQOQQuasHncN/9IJo1sn+unkpbqVFIJhgydQo13VjDKCJSnnLBJAHUPoTBoA3\
uzvlfiNgDhn+KMiVCB6xYCZSoaPHz5wrba/cbuztpBWFvQLI+R2DSGZqleKNuJX2\
cVVjAIExDo/uV7pPjGhSNntrleI9+n7Ox33Y549Wq/ZWTyh8rNcfjPlaZ4xzZvUM\
ezrNvnJ+fXFCiL2k2rpQq2wnAqH4tYjZFyZq/Y8CKZoim51z1nIZQ4jGNIC5fZhz\
7fHA4JVuj26AyIWiMDSbdTi1L/T29RO7ahdfKgqbInJLANCKZ6Kx5J24dVowztW6\
Y+8WNt91FNYXc4WN988BzAL4QOT+Aj/x8GFf+MHI+UlI2cBS9kVlLZfxSFdMS9GY\
V1WtKETDPShhz85emLRHx++TETBLAJ4qCov8c7ajsZMr/5PtBQB3AXSpqsbagd8A\
O+HMRUtPNsQAAAAASUVORK5CYII=');
    }
}
@media print{
    .warning-pane, BUTTON{
        display: none;
    }
    .hide{
        display: block;
    }
}

#main{
    margin-left:50px;
}




/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */

    z-index: 1;
    position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipped:hover .tooltiptext {
    visibility: visible;
}


